$spriteSrc:'sprite.png';
	$app : 91px 0px -91px 0px 91px 74px 232px 179px $spriteSrc ;
	$erweim : 187px 43px -187px -43px 24px 24px 232px 179px $spriteSrc ;
	$fangdaj : 64px 93px -64px -93px 70px 70px 232px 179px $spriteSrc ;
	$sdss : 0px 0px 0px 0px 86px 88px 232px 179px $spriteSrc ;
	$ty : 187px 0px -187px 0px 45px 38px 232px 179px $spriteSrc ;
	$xdd : 0px 93px 0px -93px 59px 86px 232px 179px $spriteSrc ;
